.collaboration {
	min-height: 100vh;
	padding-block: 5rem;
	&-content {
		max-width: 1200px;
		height: 700px;
		max-height: 700px;
		margin: 0 auto;
		display: grid;
		grid-template-areas:
			'title uiux'
			'web uiux'
			'web uiux'
			'web branding'
			'web branding';
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 1rem;
		&-box {
			position: relative;
			border: 1px solid rgba(255, 255, 255, 0.2);
			padding: 1rem;
			background-color: rgba(255, 255, 255, 0.05);
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			border-radius: 1rem;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			h2 {
				text-transform: uppercase;
			}
			p {
				max-width: 65%;
			}
			&-image {
				position: absolute;
				bottom: -16px;
				right: -16px;
				border-radius: 1rem;
				overflow: hidden;
				scale: 1.1;

				&.mockup {
					bottom: -5rem;
					img {
						scale: 1;
						filter: contrast(1.1);
					}
				}
				&.design {
					bottom: -5rem;
					width: 200px;
					img {
						filter: contrast(1.1);
					}
				}
				img {
					scale: 1.01;
					filter: contrast(1.1);
				}
			}
			&-stack {
				width: fit-content;
				padding: 1rem;
				display: flex;
				gap: 1.5rem;
				margin-top: auto;
				align-items: center;
				justify-content: center;

				&-item {
					width: fit-content;
					height: 28px;
					opacity: 0.6;
					position: relative;
					transition: all 0.4s ease-in-out;

					&-tooltip {
						position: absolute;
						top: 50%;
						left: 100%;
						translate: 0 -50%;
						margin-left: 1rem;
						border: 1px solid rgba(255, 255, 255, 0.2);
						background-color: rgba(0, 0, 0, 0.2);
						border-radius: 1rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 1rem;
						opacity: 0;
						pointer-events: none;
						transition: all 0.4s ease-in-out;
						backdrop-filter: blur(6px);
						-webkit-backdrop-filter: blur(6px);

						&.vertical {
							top: 0;
							left: 0;
							translate: 0 0;
							// left: 50%;
							translate: -55% -120%;
						}

						h5 {
							font-size: 1.2rem;
							color: var(--white);
						}
					}
					&:hover {
						opacity: 1;
						.collaboration-content-box-stack-item-tooltip {
							opacity: 1;
						}
					}
				}
			}
			&.title {
				grid-area: title;
				width: 100%;
				overflow: hidden;
				height: 125px;
				h2 {
					font-size: 5rem;
					white-space: nowrap;
				}
			}
			&.web {
				grid-area: web;
				.collaboration-content-box-stack {
					flex-direction: column;
				}
			}
			&.uiux {
				grid-area: uiux;
			}
			&.branding {
				grid-area: branding;
			}
		}
	}
}
