@import './typography.scss';

:root {
	--bg: #1f1f1f;
	--primary: #f2c84b;

	--text: #f2f0f0;
	--white: #f2f0f0;
	--black: #1f1f1f;

	--font-base: 'FiraSans', sans-serif;
}

// RESETS
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: left;
}

img {
	max-width: 100%;
	display: block;
}
// END RESETS

body,
html {
	font-family: var(--font-base);
	background-color: var(--bg);
	color: var(--text);
	min-height: 100vh;
	scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}
