header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 100;
	// background-color: rgba(30, 30, 30, 0.5);
}
.header {
	&-container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		gap: 1rem;
		height: 60px;
		// max-height: 60px;
		overflow: hidden;
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(6px);

		@media (width< 768px) {
			padding: 1rem;
		}
	}
	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		ul {
			display: flex;
			gap: 1rem;

			@media (width< 768px) {
				display: none;
			}
		}

		&-toggle {
			display: none;
			@media (width< 768px) {
				position: relative;
				display: block;
				height: 40px;
				width: 40px;
				.toggle-open {
					position: absolute;
				}
				.toggle-close {
					position: absolute;
				}
			}
		}
	}
	&-mobile {
		display: none;
		@media (width< 768px) {
			display: block;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
			justify-content: center;
			align-items: center;
			a {
				font-size: 2rem;
				color: white;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
	}

	// &-nav {
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	gap: 1rem;
	// 	width: 100%;
	// 	max-width: 1200px;
	// 	transform-origin: top center;
	// 	border-radius: 0;
	// 	padding: 0 0;
	// 	translate: 0 0;
	// 	border: 1px solid transparent;
	// 	box-shadow: '0px 4px 16px 12px rgba(0, 0, 0, 0)';
	// 	backdrop-filter: blur(6px);
	// 	-webkit-backdrop-filter: blur(6px);
	// 	border: 1px solid lime;

	// 	&-links {
	// 		display: flex;
	// 		gap: 1rem;
	// 		list-style: none;
	// 		@media (width< 768px) {
	// 			display: none;
	// 		}
	// 	}
	// 	&-toggle {
	// 		display: none;
	// 		@media (width< 768px) {
	// 			display: block;
	// 			position: relative;
	// 			z-index: 110;
	// 		}
	// 	}
	// }
	// &-mobile {
	// 	display: none;

	// 	@media (width< 768px) {
	// 		display: block;
	// 		position: relative;
	// 		inset: 0;
	// 	}

	// 	&-nav {
	// 		position: relative;
	// 		top: 8rem;
	// 		background-color: var(--bg);
	// 		height: 200px;
	// 		width: 80%;
	// 		margin: 0 auto;
	// 		display: flex;
	// 		flex-direction: column;
	// 		align-items: center;
	// 		justify-content: center;
	// 		transform-origin: top center;
	// 		gap: 2rem;
	// 		pointer-events: all;

	// 		&-item {
	// 			a {
	// 				font-size: 1.8rem;
	// 				color: var(--white);
	// 				text-decoration: none;
	// 				transition: all 0.2s ease-in-out;
	// 				&:hover {
	// 					color: var(--primary);
	// 				}
	// 			}
	// 		}
	// }
	// }
}

// .header {
// 	position: fixed;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 100;
// 	background-color: rgba(30, 30, 30, 0.5);
// 	box-shadow: 0px 0px 10px 8px rgba(30, 30, 30, 0.5);

// 	max-width: 100%;
// 	// left: 0,
// 	border-radius: 0;
// 	padding: 0;
// 	translate: 0;
// 	scale: 1;
// 	border: 1px solid rgba(255, 255, 255, 0);
// 	box-shadow: '0px 4px 16px 12px rgba(0, 0, 0, 0)';

// 	&-wrapper {
// 		width: 100%;
// 		max-width: 1200px;
// 		margin: 0 auto;
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		gap: 1rem;
// 		padding: 1rem 0;
// 		@media (width< 768px) {
// 			padding: 1rem;
// 		}
// 	}

// 	&-logo {
// 		width: 60px;
// 		max-height: 60px;
// 	}
// 	&-nav {
// 		&-mobile {
// 			display: none;
// 			@media (width< 768px) {
// 				position: absolute;
// 				top: 50%;
// 				translate: 0 -50%;
// 				right: 1rem;
// 				display: block;
// 				background-color: red;
// 			}
// 			&-toggle {
// 				position: relative;
// 				border: 2px solid red;
// 				z-index: 101;
// 			}
// 			&-overlay {
// 				position: fixed;
// 				transform-origin: top center;
// 				top: 0;

// 				border-radius: 100rem;
// 				height: 20px;
// 				width: 20px;
// 				aspect-ratio: 1;
// 				background-color: rgba(0, 0, 0, 0.5);
// 				backdrop-filter: blur(6px);
// 				-webkit-backdrop-filter: blur(6px);
// 				z-index: 100;
// 				scale: 0 0;

// 				ul {
// 					height: 100%;
// 					width: 80%;
// 					scale: 0 0;
// 					background-color: var(--primary);
// 					display: flex;
// 					flex-direction: column;
// 					align-items: center;
// 					justify-content: center;
// 					gap: 1.5rem;
// 					list-style: none;
// 					padding: 1rem;
// 					li {
// 						a {
// 							font-size: 1.8rem;
// 							color: var(--black);
// 							text-decoration: none;
// 							transition: all 0.2s ease-in-out;
// 							&:hover {
// 								color: var(--primary);
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 		&-links {
// 			display: flex;
// 			gap: 1rem;
// 			list-style: none;
// 			@media (width< 768px) {
// 				display: none;
// 				// position: absolute;
// 				// top: 0;
// 				// right: 0;
// 				// flex-direction: column;
// 				// border: 1px dashed red;
// 				// padding: 1rem;
// 				// height: 100vh;
// 				// width: 80%;
// 				// background-color: var(--bg);
// 			}
// 			li {
// 				display: flex;
// 				align-items: center;
// 				justify-content: center;
// 				a {
// 					color: var(--white);
// 					text-decoration: none;
// 					transition: all 0.2s ease-in-out;
// 					&:hover {
// 						color: var(--primary);
// 					}
// 				}
// 			}
// 			& .cta {
// 				a {
// 					background-color: var(--primary);
// 					padding: 0.25rem 1rem;
// 					border-radius: 2rem;
// 					outline: 2px solid var(--primary);
// 					transition: all 0.2s ease-in-out;
// 					color: var(--black);
// 					&:hover {
// 						background-color: var(--black);
// 						color: var(--white);
// 						outline: 2px solid var(--primary);
// 						color: var(--primary);
// 					}
// 				}
// 			}
// 		}
// 	}
// }
