.projects {
	// outline: 2px dashed yellow;
	overflow: hidden;
	height: 3300px;
	// max-width: 90vw;
	// margin: 0 auto;
	@media (width < 768px) {
		height: 3200px;
	}

	&-content {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: 1200px;
		height: 750px;
		// outline: 2px dashed red;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none; /* Chrome, Safari, Opera */
		}
		@media (width < 768px) {
			width: 100vw;
		}

		&-slider {
			margin: 0 auto;
			display: flex;
			gap: 3rem;
			width: 3648px;
			height: fit-content;
			// outline: 2px dashed green;
			@media (width < 768px) {
				gap: 0.5rem;
				width: 300vw;
			}

			&-item {
				scroll-snap-align: center;
				width: 1200px;
				// min-width: 1200px;
				flex: 1;
				overflow: hidden;
				opacity: 0.3;
				transition: all 0.4s ease-in-out;
				@media (width < 768px) {
					height: auto;
					padding: 0 1rem;
					width: 100vw;
				}

				&-info {
					padding-top: 1rem;
					display: flex;
					justify-content: space-between;
					@media (width < 768px) {
						flex-direction: column;
						gap: 0.5rem;
					}
					&-company {
						max-width: 60%;
						@media (width < 768px) {
							max-width: 100%;
						}
					}
					&-links {
						display: flex;
						gap: 1rem;
						flex-direction: column;
						align-items: flex-end;
						@media (width < 768px) {
							flex-direction: column;
							align-items: flex-start;
							max-width: 100%;
						}
					}
				}
				&-card {
					position: relative;
					border: 1px solid rgba(255, 255, 255, 0.1);
					background-color: #161616;
					height: 480px;
					border-radius: 1rem;
					@media (width < 768px) {
						height: 420px;
					}
					&-mockup {
						position: absolute;
						bottom: 0;
						right: 0;
						height: 100%;
						width: auto;
						@media (width < 768px) {
							width: 100%;
							height: auto;
						}
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}

					&-bg {
						position: relative;
						width: 100%;
						height: 100%;
						overflow: hidden;
						border-radius: 1rem;
						&-dots {
							position: absolute;
							inset: 0;
							opacity: 0.6;
						}
						&-gradient {
							translate: 30% 0%;
							background: radial-gradient(
								circle at bottom right,
								rgba(242, 200, 75, 0.2) 3%,
								rgba(34, 34, 34, 0) 96%
							);
							width: 1000px;
							height: 480px;

							@media (width < 768px) {
								translate: 0;
							}
						}
					}
					&-tags {
						display: flex;
						gap: 0.5rem;
						flex-direction: column;
						position: absolute;
						top: 1rem;
						left: 1rem;
						p {
							font-size: 1rem;
							background-color: rgba(0, 0, 0, 0.3);
							padding: 0.25rem 0.75rem;
							color: var(--white);
							border-radius: 0.75rem;
							border: 1px solid rgba(255, 255, 255, 0.2);
							width: fit-content;
						}
					}
					&-logo {
						position: absolute;
						bottom: 1rem;
						left: 1rem;
						width: 160px;
						max-height: 48px;
						@media (width < 768px) {
							top: 1rem;
							right: 1rem;
							bottom: auto;
							left: auto;
							width: 100px;
						}
						img {
							// width: 100%;
							height: 48px;
							// max-height: 48px;
							// max-width: 48px;
						}
					}
				}
			}
		}
	}
}
