---
import '../styles/collaboration.scss';
---
<section class="collaboration">
    <div class="collaboration-content">
        <div class="collaboration-content-box title">
            <h2>Our Collaboration</h2>
        </div>
        <div class="collaboration-content-box web">
            <h2>Web Development</h2>
            <p>Transform your business with dynamic, responsive websites tailored to your needs. Let's create a stunning digital presence that drives engagement and growth.</p>
            <div class="collaboration-content-box-image">
                <img src="/images/mockups/code.jpg" alt="Webflow">
            </div>
            <div class="collaboration-content-box-stack">
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/webflow.svg" alt="Webflow">
                    <div class="collaboration-content-box-stack-item-tooltip">
                        <small>Webflow</small>
                    </div>
                </div>
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/framer.svg" alt="Framer">
                    <div class="collaboration-content-box-stack-item-tooltip">
                        <small>Framer</small>
                    </div></div>
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/squarespace.svg" alt="Squarespace">                
                    <div class="collaboration-content-box-stack-item-tooltip">
                        <small>Squarespace</small>
                    </div></div>
                <div class="collaboration-content-box-stack-item">
                        <img src="/images/apps/wordpress.svg" alt="Wordpress">                
                        <div class="collaboration-content-box-stack-item-tooltip">
                            <small>Wordpress</small>
                        </div>
                    </div>
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/custom.svg" alt="Custom code">                
                    <div class="collaboration-content-box-stack-item-tooltip">
                        <small>Custom code</small>
                    </div></div>
            </div>
        </div>
        <div class="collaboration-content-box uiux">
            <h2>UI/UX</h2>
            <p>Elevate your brand with user-centric designs that are both beautiful and functional. I craft layouts that ensure seamless user flow and memorable experiences.</p>
            <div class="collaboration-content-box-image mockup">
                <img src="/images/mockups/mockup.png" alt="Webflow">
            </div>
            <div class="collaboration-content-box-stack">
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/figma.svg" alt="Figma">                
                    <div class="collaboration-content-box-stack-item-tooltip vertical">
                        <small>Figma</small>
                    </div></div>
            </div>
        </div>
        <div class="collaboration-content-box branding">
            <h2>Branding</h2>
            <p>Let's enhance your business brand with consistent style guides, hierarchy, and imagery that convey your essence and mission to users.</p>
             <div class="collaboration-content-box-image design">
                <img src="/images/mockups/design.jpg" alt="Webflow">
            </div>
            <div class="collaboration-content-box-stack">
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/figma.svg" alt="Figma">                
                    <div class="collaboration-content-box-stack-item-tooltip vertical">
                        <small>Figma</small>
                    </div></div>
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/ai.svg" alt="Ai">                
                    <div class="collaboration-content-box-stack-item-tooltip vertical">
                        <small>Illustrator</small>
                    </div></div>
                <div class="collaboration-content-box-stack-item">
                    <img src="/images/apps/ps.svg" alt="Ps">
                    <div class="collaboration-content-box-stack-item-tooltip vertical">
                        <small>Photoshop</small>
                    </div></div>
            </div>

        </div>

       
    </div>