---
import '../styles/collaboration.scss'
---

<section class="collaboration" id="collaboration">
	<div class="collaboration-content">
		<div class="collaboration-content-box title">
			<h2>Our Collaboration</h2>
		</div>
		<div class="collaboration-content-box web">
			<h2>Web Development</h2>
			<p>
				Transform your business with dynamic, responsive websites tailored to your needs. Let's
				create a stunning digital presence that drives engagement and growth.
			</p>
			<div class="collaboration-content-box-image">
				<img src="/images/mockups/code.jpg" alt="Webflow" />
			</div>
			<div class="collaboration-content-box-stack">
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/webflow.svg" alt="Webflow" />
					<div class="collaboration-content-box-stack-item-tooltip">
						<small>Webflow</small>
					</div>
				</div>
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/framer.svg" alt="Framer" />
					<div class="collaboration-content-box-stack-item-tooltip">
						<small>Framer</small>
					</div>
				</div>
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/squarespace.svg" alt="Squarespace" />
					<div class="collaboration-content-box-stack-item-tooltip">
						<small>Squarespace</small>
					</div>
				</div>
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/wordpress.svg" alt="Wordpress" />
					<div class="collaboration-content-box-stack-item-tooltip">
						<small>Wordpress</small>
					</div>
				</div>
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/custom.svg" alt="Custom code" />
					<div class="collaboration-content-box-stack-item-tooltip">
						<small>Custom code</small>
					</div>
				</div>
			</div>
		</div>
		<div class="collaboration-content-box uiux">
			<h2>UI/UX</h2>
			<p>
				Elevate your brand with user-centric designs that are both beautiful and functional. I craft
				layouts that ensure seamless user flow and memorable experiences.
			</p>
			<div class="collaboration-content-box-image mockup">
				<img src="/images/mockups/mockup.png" alt="Webflow" />
			</div>
			<div class="collaboration-content-box-stack">
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/figma.svg" alt="Figma" />
					<div class="collaboration-content-box-stack-item-tooltip vertical">
						<small>Figma</small>
					</div>
				</div>
			</div>
		</div>
		<div class="collaboration-content-box branding">
			<h2>Branding</h2>
			<p>
				Let's enhance your business brand with consistent style guides, hierarchy, and imagery that
				convey your essence and mission to users.
			</p>
			<div class="collaboration-content-box-image design">
				<img src="/images/mockups/design.jpg" alt="Webflow" />
			</div>
			<div class="collaboration-content-box-stack">
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/figma.svg" alt="Figma" />
					<div class="collaboration-content-box-stack-item-tooltip vertical">
						<small>Figma</small>
					</div>
				</div>
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/ai.svg" alt="Ai" />
					<div class="collaboration-content-box-stack-item-tooltip vertical">
						<small>Illustrator</small>
					</div>
				</div>
				<div class="collaboration-content-box-stack-item">
					<img src="/images/apps/ps.svg" alt="Ps" />
					<div class="collaboration-content-box-stack-item-tooltip vertical">
						<small>Photoshop</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <script>
	import gsap from 'gsap'

	const titles = document.querySelectorAll('.collaboration h2')

	const observerTitles = new IntersectionObserver(
		(entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					const chars = entry.target.querySelectorAll('span.char')
					gsap.from(chars, {
						opacity: 0,
						y: 50,
						scale: 0.6,
						skewX: -40,
						duration: 0.8,
						ease: 'elastic.out(1, 0.6)',
						stagger: 0.08
					})
					observerTitles.unobserve(entry.target) // Stops observing once the animation is triggered
				}
			})
		},
		{
			threshold: 0.2 // Adjust based on when you want the animation to trigger
		}
	)


	titles.forEach((title) => {
		const text = title.textContent

		title.innerHTML = text
			?.split('')
			.map((char) => {
				if (char === ' ') {
					return `<span class="char">&nbsp;</span>`
				}
				return `<span class="char" style="display: inline-block">${char}</span>`
			})
			.join('')
		gsap.set(title, { opacity: 1, y: 0 })
		observerTitles.observe(title)
	})

</script> -->

<script>
	import gsap from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	const titles = document.querySelectorAll('.collaboration h2')
	const texts = document.querySelectorAll('.collaboration p')
	const mockups = document.querySelectorAll('.collaboration img')

	// Scroll animations
	gsap.from(titles, {
		yPercent: 30,
		opacity: 0,
		ease: 'Power3.easeOut',
		scrollTrigger: {
			trigger: titles,
			start: '150px bottom',
			end: 'bottom end',
			scrub: 1,
			// markers: true

		}
	})

	gsap.from(texts, {
		yPercent: 60,
		opacity: 0,
		ease: 'Power3.easeOut',
		scrollTrigger: {
			trigger: titles,
			start: '200px bottom ',
			end: 'bottom end',
			scrub: 1,
			// markers: true
		}
	})

    gsap.from(mockups, {
        xPercent: 60,
        scale: 0.5,
        opacity: 0,
        ease: 'Power3.easeOut',
        scrollTrigger: {
            trigger: titles,
            start: '290px bottom ',
            end: 'bottom end',
            scrub: 1,
            // markers: true
        }
    })


</script>
