---
import '../styles/contact.scss'
import ContactForm from './ui/ContactForm'
---
<section class="contact" id="contact">
	<div class="contact-content">
		<div class="contact-content-info">
			<!-- <img src="/images/contact-icon.svg" alt="Contact icon"> -->
			<h2>Insterested in a collaboration?</h2>
			<p>
				I listen and provide the techy side your business may need with no jargons or wordy stuff,
				straight to the point to reach the right public out for your business. You won't have to
				hire a full team.
			</p>

			<div class="contact-content-info-social">
				<div class="contact-content-info-social-item">
					<a href="mailto:hello@mrlopez.io"><img src="/images/apps/mail.svg" alt="email" /></a>
				</div>
				<div class="contact-content-info-social-item">
					<a href="https://www.instagram.com/mrlopezio/"><img src="/images/apps/instagram.svg" alt="instagram" /></a>
				</div>
				<div class="contact-content-info-social-item">
					<a href="https://www.linkedin.com/in/mrlopezuk"><img src="/images/apps/linkedin.svg" alt="linkedin" /></a>
				</div>
				<div class="contact-content-info-social-item">
					<a href="https://mrlopezwebs.slack.com/archives/D05SKBS7W48"><img src="/images/apps/slack.svg" alt="slack" /></a>
				</div>
				<div class="contact-content-info-social-item">
					<a href="https://wa.me/447963772339"><img src="/images/apps/whatsapp.svg" alt="whatsapp" /></a>
				</div>
			</div>
		</div>
		<div class="contact-content-form">
            <ContactForm client:load/>
		</div>
	</div>
</section>

