---
import '../styles/footer.scss'
---

<footer class="footer">
	<div class="footer-content">
		<div class="footer-content-info-logo">
			<img src="/images/logo.svg" alt="Logo" />
		</div>
		<div class="footer-content-info-info" id="footer">
			<a href="https://lordicon.com/">Icons by Lordicon.com</a>
			<p>2024 mrlopez.io © All rights reserved. Made with ❤️ by MrLopez.</p>
		</div>
	</div>
</footer>
