---
import '../styles/footer.scss';
---
<footer class="footer">
    <div class="footer-content">
        <div class="footer-content-info">
            <div class="footer-content-info-logo">
                <img src="/images/logo.svg" alt="Logo">
            </div>
            <div class="footer-content-info-info">
                <p>© 2024 MrLopez. All rights reserved.</p>
            </div>
        </div>
    </div>