---
import '../styles/header.scss';
---
<header class="header">
    <a href="/" class="header-logo">
        LOGO
        <img src="/logo.png" alt="MrLopez Logo" class="header-logo-img">
    </a>
</header>