---
import '../styles/header.scss';
---
<header class="header">
    <div class="header-wrapper">
        <a href="/#hero" class="header-logo"><img src="/images/logo.svg" alt="MrLopez Logo" class="header-logo-img"></a>
        <nav class="header-nav">
            <ul class="header-nav-links">
                <li class="header-nav-links-item"><a href="#collaboration">Services</a></li>
                <li class="header-nav-links-item"><a href="#projects">Projects</a></li>
                <li class="header-nav-links-item"><a href="#about">About</a></li>
                <li class="header-nav-links-item cta"><a href="#contact">Let's collaborate</a></li>
            </ul>
        </nav>

    </div>
</header>