---
import '../styles/hero.scss'
---

<section class="hero-banner">
	<div class="hero-banner-content">
		<h2 class="hero-banner-content-heading">Brands that trusted me...</h2>
		<div class="hero-banner-content-brands">
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand1.svg" alt="Brands 1" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand2.svg" alt="Brands 2" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand3.svg" alt="Brands 3" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand4.svg" alt="Brands 4" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand6.svg" alt="Brands 6" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand7.svg" alt="Brands 7" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand8.svg" alt="Brands 8" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand9.svg" alt="Brands 9" />
			</div>
			<div class="hero-banner-content-brands-item">
				<img src="/images/banner/brand10.svg" alt="Brands 10" />
			</div>
		</div>
	</div>
</section>

