---
import '../styles/hero.scss';
import HeroBanner from './HeroBanner.astro';
import ButtonCTA from './ui/ButtonCTA.astro';
---
<section class="hero">
    <div class="hero-content">
        <div class="hero-heading">
            <h1>Crafting & building ideas into <span class="hero-heading-emphasis">online</span> solutions</h1>
        </div>
        <div class="hero-info">
            <p>Helping early-stage startups and small businesses to turn complicated ideas into high-performance and intuitive experiences</p>
            <ButtonCTA text="Get in touch" href="#contact"/>
        </div>
    </div>
</section>