---
import '../styles/projects.scss'
import ProjectCard from './ui/ProjectCard.astro'
---

<section class="projects" id="projects">
	<div class="projects-content">
		<div class="projects-content-slider">
			<!-- Itza -->
			<ProjectCard
				title="Itza Media"
				text="A student-focused platform where they choose their educational path based on passions and interests. Giving agency to the learners through some algorithms..."
                tags={['Web Development', 'React/NextJs', 'Webflow', 'Motion']}
                logo="/images/logos/itza.svg"
                image="/images/mockups/itza-mockups.png"
			/>
		</div>
	</div>
</section>

