---
import '../styles/global.scss'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const { title = 'MrLopez Web Development' } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Add a developer and/or designer to complement and enhance your workflow."
		/>
		<meta name="author" content="MrLopez" />
		<meta name="keywords" content="web development, motion, design, ui,ux" />
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-JF00ZN2VCB"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())
			gtag('config', 'G-JF00ZN2VCB')
		</script>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />

		<!-- Lenis smooth scrolling -->
		<script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
		<script is:inline>
			const lenis = new Lenis({
				smoothWheel: true
			})

			function raf(time) {
				lenis.raf(time)
				requestAnimationFrame(raf)
			}

			requestAnimationFrame(raf)
		</script>
	</body>
</html>
