---
import '../styles/global.scss'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const { title = 'MrLopez Web Development' } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Add a developer and/or designer to complement and enhance your workflow."
		/>
		<meta name="author" content="MrLopez" />
		<meta name="keywords" content="web development, motion, design, ui,ux"/>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<script
	defer
	src="https://sitebehaviour-cdn.fra1.cdn.digitaloceanspaces.com/index.min.js?sitebehaviour-secret=fd56fcd8-8769-4ea2-aa3b-f9b66b07f69b"
></script>
<script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
<script>
	import Lenis from 'lenis'

	const lenis = new Lenis({
		smoothWheel: true
	})

	// lenis.on('scroll', (e) => {
	// })

	function raf(time: number) {
		lenis.raf(time)
		requestAnimationFrame(raf)
	}

	requestAnimationFrame(raf)
</script>
