---
import '../../styles/buttons.scss'
const { text, href } = Astro.props
---

<a href={href} class="button-cta">
	<div class="button-cta-text">
		{text}
	</div>
	<div class="button-cta-arrow">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			class="lucide lucide-move-up-right"
			><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
		>
	</div>
</a>
